
.color{
   
    color: #dcd3d6;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-family: "Times New Roman", Times, serif;
    float:left;
    height: 100%;
    width: 100%;
    animation: heartt 1.75s ease infinite;
    font-family: 'Montserrat';  
    /* font-family: 'My-Custom-Font'; */
    font-weight: bold;
    font-size: 50px;
    margin-top: 200px;
    font-style: oblique;

}
.color h1{
    font-size: 51px;
}
body    {
    /* background-image: url(./z3754117781765_592d2a78ed43f08c91eb563907d2da47.jpg); */
    /* background: url(.); */
    background-size: contain;
    /* background-repeat: no-repeat; */
    
    opacity: 0.6;
    height: 1000px;
    width: 100%;
    border-radius: 50% solid rgb(206, 195, 195);
   
}



#video_background {

    position: absolute;
    
    bottom: 0px;
    
    right: 330px;
    
    /* min-width: 100%;
    
    min-height: 100%; */
    
    width: auto;
    
    height: auto;
    
    z-index:-1000;
    
    overflow: hidden;
    
    }